<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="copyright" content="{{ general.page_author }}" />
    <meta name="author" content="{{ general.page_author }}" />
    
    <!-- Primary Meta Tags -->
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}">
    {% include "./head/_favicon.njk" %}
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ general.page_url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ imgAbsPath }}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ general.page_url }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="{{ imgAbsPath }}">
    <link rel="stylesheet" href="../assets/scss/main.css" />
  </head>
  <body>
    {% block content %}{% endblock %}
     <script rel="preload" type="module" src="../../assets/app.js"></script>
  </body>
</html>
