<header class="header" id="header">
    <nav role="navigation">
        <ul role="menu">
            <li role="none"><a role="menuitem" href="">This is part of the header</a></li>
            <li role="none"><a role="menuitem" href="">This is part of the header 2</a></li>
            <li role="none"><a role="menuitem" href="">This is part of the header 3</a></li>
        </ul>
    </nav>
</header>