<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Person",
    "email": "{{ general.page_email }}",
    "image": "{{ imgAbsPath }} ",
    "jobTitle": "{{ job }}",
    "name": "{{ general.page_author }}",
    "telephone": "{{ general.page_phone }}",
    "url": "{{ general.page_url }}"
    }
</script>